@{
    ViewData["Title"] = "About Us";
}
@*<h1>@ViewData["Title"]</h1>*@

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="about-heading">About Us</h2>
                <p class="about-text">
                    Welcome to Pancake Mania, your ultimate destination for pancake perfection and mouthwatering delights! We're not just a shop – we're a celebration of all things pancakes. Our passion for creating the fluffiest stacks and the most delectable pancake experiences is what drives us every day.
                </p>
                <p class="about-text">
                    At Pancake Mania, we believe in the magic of pancakes to bring people together, spark joy, and satisfy cravings like no other. Our dedicated team of pancake enthusiasts takes pride in crafting each stack with care and precision, using the finest ingredients to ensure every bite is a moment of pure indulgence.
                </p>
                <p class="about-text">
                    From classic buttermilk beauties to innovative and seasonal creations, our menu is a symphony of flavors that caters to pancake lovers of all ages. But Pancake Mania is more than just a menu – it's a community. We're here to share our love for pancakes, connect with fellow pancake aficionados, and inspire your taste buds with every order.
                </p>
                <p class="about-text">
                    Whether you're stopping by for a quick stack fix or exploring our app for pancake-themed surprises, Pancake Mania is here to make your pancake dreams come true. Join us on this scrumptious journey and experience the joy of Pancake Mania firsthand.
                </p>
                <p class="about-text">
                    Indulge. Savor. Repeat. Welcome to Pancake Mania – where pancakes are a way of life!
                </p>
            </div>
        </div>
    </div>
</section>